@import '../variables.scss';

#filter{
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;

    // h5{
    //     font-weight: normal;
    //     margin-right: 0.4em;
    // }
    section{
        // flex:2;
        display: flex;
        // justify-content: space-around;
    
    .filter-area{

        text-align: center;
        width: 6em;
        color: $inactive-color;
        border-radius: 0.4em;
        padding: 0.4em;

        h6{
            font-weight: normal;


        }
        &.active{
            color: white;
            background-color: $primary-color;
            padding: auto 0;
            margin: 0 0.2em;

            h6{
                font-weight: 600;
                &:hover{
                    color: white;
                }
            }

            

        }
        

        &:hover{
            color: $caption-color;
            padding: auto 0;
            margin: 0 0.2em;


            h6{
                font-weight: 600;
            }

        }

    }
}

}