.detail-container {
  display: grid;
  grid-template-rows: 75vh 25vh;
}

#produce-detail {
  grid-row: 0/2;
  width: 100vw;
}
#produce-detail #produce-detail-tab-section {
  height: 13.7em;
}
#produce-detail .caption {
  color: #5a5a5a;
  font-weight: normal;
}
#produce-detail section {
  width: 70%;
}
#produce-detail .tabs .tabs-header {
  display: flex;
  justify-content: space-between;
}
#produce-detail .tabs .tabs-header li {
  color: #5a5a5a;
  font-size: smaller;
  font-weight: 600;
  cursor: pointer;
}
#produce-detail .tabs .tabs-header .tab_selected {
  color: #59914C;
}
#produce-detail .tabs .tabs-header .tab_selected::after {
  display: block;
  content: "";
  height: 2.5px;
  color: #59914C;
  width: auto;
}
#produce-detail .produce-item-detail-view {
  display: flex;
  padding: 3em 3em;
  flex-direction: row;
}
#produce-detail #produce-detail-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#produce-detail .detail-view-content {
  width: 100%;
}
#produce-detail #produce-detail-main-image img {
  width: 35em;
  height: 20em;
  border-radius: 10px;
}
#produce-detail #produce-detail-image-select .produce-detail-image-caption {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  flex-wrap: nowrap;
}
#produce-detail #produce-detail-image-select .produce-detail-image-caption img {
  cursor: pointer;
  width: 10em;
  height: 6.5em;
  border-radius: 10px;
}
#produce-detail #produce-detail-image-select .produce-detail-image-caption img.active {
  border: 2.5px solid #59914C;
}
#produce-detail .detail-view-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4em;
}
#produce-detail .detail-view-content #produce-detail-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#produce-detail .detail-view-content #produce-detail-product #product-details-product-svg-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#produce-detail .detail-view-content #produce-detail-product #product-details-product-svg-name img {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.4em;
}
#produce-detail .detail-view-content #produce-detail-product .link {
  margin-left: auto;
}

#Details {
  padding: 0.4em 0.4em;
}
#Details div h5 {
  padding: 0.4em 0;
  font-weight: normal;
}
#Details div span {
  font-weight: 600;
  color: #59914C;
}

.caption-text {
  display: block;
}

.detail-owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-owner img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}

#produce-detail-bid {
  display: flex;
  justify-content: space-between;
}

.quantity-button {
  display: flex;
  align-items: center;
}
.quantity-button .button {
  margin: 0 0.4em;
  align-self: center;
  width: 100%;
}

.quantity-add-cart {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.quantity-add-cart h6 {
  padding: 0 0.4em;
  font-weight: normal;
}

.cart-operation {
  cursor: pointer;
  font-size: larger;
  font-weight: normal;
  color: #5a5a5a;
  padding: 0.4em 0.4em;
}/*# sourceMappingURL=produce_detail.css.map */