@import './variables.scss';


#cart-details{
    h5{
        padding: 1em 0;

        font-weight: 500;
        span{
            font-weight: 600;
        }
    }
}
#cart{
    padding: 1.5em 0;
    

    .cart-card-container{
        margin: 0.8em 0;

    .cart-card{
        margin: 0.2em 0;

        
        display: flex;
        align-items: center;


        img{
            width: 5em;
            height: 4.6em;
            border-radius: 10px;
        }

        .cart-card-details{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin: 0 0.6em;

            .cart-card-name{
                font-size: 0.8em;
                font-weight: 600;
            }

            .cart-card-shop-details{
                
                font-size: 0.6em;
                font-weight: 400;

                span{
                    color: $inactive-color;
                }
               

            }
            .cart-card-price{
                font-weight: 600;
                font-size: 0.8em;

                span{
                    color: $inactive-color;
                    font-weight: 500;
                    
                }
            }
            
        
        .cart-card-quantity-remove{
            display: flex;
            justify-content: space-between;
            .quantity-container{
                display: flex;
            align-items:center;

            color: $inactive-color;
            i{
                cursor: pointer;
            }

            

            .quantity-number{
                padding: 0 0.8em;
            }

            }

            
            
        }
        
    }
    .icon-button{
        margin-left: auto;
    }
}
    // &::after{
    //     content: '';
    //     display: block;
    //     width:auto;
    //     height: 1px;
    //     background-color: $inactive-color;
    //     border-radius: 10px;
    // }


        
    }

}




  