@import './variables.scss';
@import './Home/searchbar.scss';
@import './Home/filter.scss';
@import './bids.scss';
@import './cart.scss';
@import './Home/produce_detail.scss';
@import './modal.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background-color: $background-color;
    padding: 0 0.8em;
    font-family: 'Poppins',sans-serif;
    color: $black-text;
    

}
input[type=number]{
    appearance: textfield;
}

#app{
    display: flex;
    // grid-template-columns: 10% 3% 3fr 20%;
    // grid-template-rows: 5vh 95vh;
    // overflow: visible;

}
a{
    text-decoration: none;
    color: inherit;

    // 
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    font-weight: 600;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

.green-text{
    color: $primary-color;
}
h6{
    font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
}

ul{
    list-style: none;

}
.icon-button{
    background-color: white;
    color:$primary-color;
    border-radius: 10px;
    height: 2em;
    width: 2em;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;

    i{
        font-size: 0.6em;
    }

    &:hover{
        background-color: $darker-primary;
        color: white;
    }
    
}


.delete{
    color: $red-color;

    &:hover{
        background-color: $red-color;
        color:white;
    }
}
.badge{
    text-align: center;
    position: absolute;
    top: -5px;
    left: 20px;
    color: white;
    background-color: $accent-color;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.button{
    color: white;
    background-color: $primary-color;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 0.4em;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: $caption-color;


    }
}
.icon{
    height: 1.5em;
    width: 1.5em;
}
.price{
    // color: $primary-color;
    font-weight: 600;
    
    &::after{
        content: 'sh';
        color: inherit;
        font-size: small;
    }
}
.inactive{
    color: $inactive-color;
}

.primary-color{
    color: $primary-color;
}
.farm{
    font-size: smaller;
    font-weight: 600;
}
.accent-text{
    color:$accent-color;
}
// .title{

// }

#header{

    min-height: 5vh;
    margin-left: auto;
    display: flex;
    // justify-: space-between;

    img{
        height: 1.6em;
        width: 5em;
    

        

    }
    

    #login-cart{
        align-self: flex-start;
        display: flex;
        position: relative;

        #cart{
            margin-right: 30px;

            align-self: flex-end;
            position: relative;


        }



    }

}




#sidebar{
    position: sticky;
    z-index: 1; 
    top: 0; 
    left: 0;
    height: 100vh;
    display: flex;
    margin-right: 3%;
    justify-content: center;
    flex-direction: column;
    #logo{
        margin-bottom: auto ;
        margin-top: 1%;
        img{
            margin: 0 auto;
            height: 1.6em;
            width: 5em;
        }
    }

    #user-data-image{
        display: flex;
        img{
            height:3em;
            width:3em;
            border-radius: 50%;
        }
        #user-data{
            margin:0 0.4em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            #user-data-email{
                color:$inactive-color;
                font-weight: normal;
            }
            #usertype{
                font-weight: 500;
            }
        }
    }


    a{
        padding: 1em 1em;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: $inactive-color;
        transition: all 0.6s ease-in-out;

        i{
            font-size: 1.1em;
        }
        
        &:hover{
            color: $darker-primary;
            i{
                color: $primary-color;
            }
        }

        &.router-link-active{
            text-align: center;
            background-color:$darker-primary ;
            color:white;
            border-radius: 10px;

            &:hover{
                color: white;
                i{
                    color: white;
                }
            }
        }
        h5 {
            cursor: pointer;

            margin-left: 0.8em;


        }
        object{
            height: 1.2em;
            width: 1.2em;

            &:hover{
                fill: $primary-color;
            }
        }
        
    
    
    }
    #navigation{
        font-weight: 600;
        font-size: 0.9em;
        margin: auto 0;
        display: flex;
        // flex: 2;
        flex-direction: column;
        // justify-content: space-between;
        
        
        
        
    }

    
    #refer{
        margin-top: auto;
        .side-links{
            font-weight: 600;
            font-size: 0.9em;
            color: $accent-color;
    
        }
    }
    
}

.caption{
    color: $caption-color;
}

main{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-top: 0.5em;
    flex:4;
    display: flex;
    flex-direction: column;



    #links{
        font-weight: 600;
        font-size: 0.9em;
        align-self: flex-start;
        margin: 0 auto;

        ul{
            display: flex;
            justify-content: center;

            .list-item{
                position: relative;

                li a{
                    text-decoration: none;
                    cursor: pointer;
                    margin: 0 1.5em;
                    color: $inactive-color;
                    font-weight: 500;
                    transition: all 0.6s ease-in-out;
                    &.router-link-active{
                        color:$primary-color;
                    }
    
                    &:hover{
                        color: $darker-primary;
                    }
                    }
                    .active{
                        
                        color: $primary-color;
                        &::after{
                            position: absolute;  
                            bottom: 0px;

                            content: '';
                            height: 2px;
                        }
                }
    
               
        
            }
                
            }
        }
    

}

#summary{
    position: sticky;
    // z-index: 1; 
    top: 0; 
    right: 0;
    height: 100vh;
    flex:1;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    ::-webkit-scrollbar{
        display: none;
    }
    flex-direction: column;

    .summary-section-title{
        font-weight: 600;
        color: $inactive-color;
    }
    #header{
        display: flex;
        align-items: center;
        .avatar{
            align-self: center;
            margin-top: 0.5em;
            margin-left: 1em;
    
            
            height: 2em;
            width: 2em;
            border-radius: 50%;
        }
        i{
            font-size: 1.4em;
        }

    }
    #heading{
        margin:1.2em 0;
        h4{
            font-weight: bold;
        }
        h6{
            margin: 0.6em 0;
            font-weight: normal;
            color: $inactive-color;
        }

    }
    .filter{
        .filter-area{
            justify-content: space-between;
            width:auto;
            &.active{
                border: initial;
                border-radius: initial;
                background-color: initial;
                color: $primary-color;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }



    .button{
        margin-top: auto;
    }

    #details{
        align-self: center;
        text-align: center;

        
        display: block;
        margin: 0 auto;

        h5{
            font-weight: normal;
            font-size: 0.7em;
            color: $inactive-color;
        }
        
        
    }
    .summary-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        

    }

    .tabs-header{
        margin-top: 1em;

        display: flex;
        justify-content: space-between;
        li{
            cursor: pointer;
            color: $inactive-color;
            font-weight: 600;
            transition: all 0.6s ease-in-out;
            &:hover{
                color: $darker-primary;
                transition: all 0.6s ease-in-out;


                &::after{
                    transition: all 0.6s ease-in-out;
                    
                        display: block;
        
                        content: '';
                        height:1.2px;
                        border-radius: 10px;
                        width: inherit;
                        background-color: $darker-primary;
                   

                }
            }
            
        }
        .tab_selected{
            color: $primary-color;
            &::after{
                display: block;

                content: '';
                height:2.4px;
                border-radius: 10px;
                width: inherit;
                background-color: $primary-color;
            }

            
        }

        

    }

    #bids{
        
        h4{
            font-weight: bold;
        }

        .bid-card{

            
            cursor: pointer;
            // display: flex;
            // justify-content: space-around;
            // align-items: center;
            // align-content: space-between;
            width: 100%;
            height: 3em;
            border-radius: 0.6em;
            padding: 0.2em 0.4em;
            margin: 1em 0em;

            #bid-card-image-farm-name{
                display: flex;
                img{
                    height: 2.5em;
                    width: 2.5em;
                    border-radius: 50%;
        
                }
            }
            #bid-card-details{
                margin:0  0.5em;
                width: 100%;

                display: flex;
                flex-direction: column;
                // align-content: space-around;
                #bid-card-name{
                    color: $black-text;
                    font-weight: 600;
                    
                }
                #bid-status-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .price{
                        align-self: flex-start;
                    }
                }
                .bid-card-status{
                    font-weight: 600;
                }
    
            }
    
        }
    
    }

    
    .Pending{
        // background-color: rgba($color: $accent-color, $alpha: 0.05);
        color: $inactive-color;

        &:hover{
            background-color: rgba($color: #CD8E48, $alpha: 0.4);
            // h5{
            // }


        }
    }
    .Accepted{
        // background-color: rgba($color: $primary-color , $alpha: 0.05);
        color: $primary-color;

        &:hover{
            background-color: rgba($color: $primary-color , $alpha: 0.2);
            // h5{
            //     color: black;
            // }


        }
    }
    .Rejected{
        // background-color: rgba($color: $red-color , $alpha: 0.02);
        color: $red-color;

        &:hover{
            background-color: rgba($color:$red-color , $alpha: 0.2);
            // h5{
            //     color: black;
            // }
        }
    }



}

.produce-card{
    width: 11em;
    height:18em;
    text-overflow: ellipsis;
    cursor: pointer;

    display: grid;
    grid-template-rows: 10em 8em;

    border-radius: 10% 10% 5% 5%;
    
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 0.8em;
    img{
        grid-row-start: 1;
        grid-row-end: 2;
        height: 10em;
        width: 11em;
        border-radius: 10%;
    }
    .card-details{
        padding: 0 0.6em;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction:column;
    }

}


.sub-content{
    padding-right: 3%;
    margin-top: 0.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.2em;
    column-gap: 0.3em;
}
.price-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button{
        padding: 0.4em 0.8em;
    }
    .price{
        font-size: 1.1em;
    }
    
}
#produce{
    

        #produce-info{
            padding: 0.3em 0;
            display: flex;
            justify-content: space-between;
            .icons-details{
                display: flex;
                img{
                    height: 1.2em;
                    width: 1.2em;
                    margin-right: 0.3em;

                }
                i{
                    font-size: 1em;
                    margin-right: 0.3em;
                }
                font-size: 0.9em;
                color: $primary-color;

                .location-name{
                    padding-left: 0.3em;

                }
            }

        }

        #farm-produce{
            // padding: 0.6em 0;

            display: block;
            h4{
                padding: 0.1em 0;   
            }
            
            #weight{
                font-weight: 500;
            }
        }
        // #link{
        //     display: flex;
        //     align-items: center;
        //     margin: 0 auto;
        //     color: $inactive-color
        //     i{
        //         font-size: 0.9em;
        //     }
        //     h6{
        //         align-self: flex-end;
        //     }

        // }

        

    }

.description{
    font-weight: normal;
    font-size: 0.8em;
    color: $inactive-color;
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-lines: 4;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.2em;
}
#farm-items{
    column-gap: 10em;
    
    // .produce-card{
    //     #agrovet-name{
    //         color: $accent-color;
    //     }
    .card-details{
        display: flex;
        flex-direction: column;
        font-size: smaller;
        justify-content: space-around;


    }
    .item-card-add-to-cart{
        display: flex;
        color: $primary-color;
        align-self: center;
        cursor: pointer;
        h6{
            margin: 0 0.4em;
        }

        &:hover{
            color:$darker-primary;
        }
    }

    // .price-card{
    //     flex:2;
    //     margin-top: auto;
    //     align-items: center;
    // }
    
    

  
}


// .intro-card{
//       display: flex;
//       justify-content: space-between;
//       position: relative;
    
//       border-radius: 10px;
//       margin-top: 0.6em;
//       align-items: center;
//       background-color: rgba($color: $primary-color , $alpha: 0.4);

//       img{
//           height: 2em;
//           width: 6em;
//           margin-left: 1.2em;
//           margin-top: 1.1em;
//           margin-bottom: 1.1em;
//       }
//       .intro-text{
//           margin: 0 auto;
//       }
//       .intro-image{
//           position:absolute;
//           right: 1.2em;
//           bottom: -1.2em;
//           img{
//               height:6em;
//               width: 6em;
//           }
        
//       }
// }


#auth{
    display: grid;

    grid-template-columns: 50vw 45vw;

    .auth-section{


        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0 2em;

        .auth-intro-text{
            padding-left: 0.8em;
            padding-top: 0.6em;
            

            h4{
                margin-bottom: 0.6em;
                font-weight: bold;
                font-size: 1.2em;

            }
            h5{

                font-size: 1em;
            }
        }

        .input-auth{
            padding-left: 0.8em;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .input-wrapper{
                margin-top: 1.8em;
                position: relative;
                width: 100%;
                display: inline-block;

                i {
                    position: absolute;
                    color: $accent-color;
                    
                    left: 15px;
                    top: 10px;
                
                }
                input{
                    width: 100%;
                    background-color: white;
                    outline: none;
                    padding: 1em 1.2em;
                    border-radius: 10px;
                    border: none;
                    // margin-bottom: 1.2em;

                    &::placeholder{
                        color: $accent-color;
                        font-weight: 500;



                        &::before{
                            content: '&#xF002';
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            color: $accent-color;
                        }
                    }

                }

            }

            
        }

    

    .button{
        margin-top: 1.8em;
        text-align: center;
        i{
            font-weight: 1.2em;
        }
    }

    #password-links{
        padding-left: 0.8em;
        padding-top: 1.2em;


        h5{
            font-weight: 600;
            margin-bottom: 0.6em;
            color: $inactive-color;

            a{
                cursor: pointer;
                color: $primary-color;
            }
        }
    }


    }


    .auth-links{
        margin-top: 10vh;
        display:flex;
        justify-content: space-between;
        img{
            height: 2em;
            width: 6em;
        }
        .auth-link{
            color:$primary-color;
            font-weight: 500;
        }
        
    }

    .svg-section{
        grid-column-start: 2;
        grid-column-end: 3;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        img{
            opacity: 0.2;
        }

    }
}


